<nav class="navbar navbar-default" style="background-color: lightseagreen; color: black">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref = 'home'>MovieDataBase</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref ='NewMovie'>AddMovie</a></li>
            <li><a ui-sref ='Register'>Register</a></li>
            <li><a ui-sref ='Login'>Login</a></li>
            <li><a href = '' ng-click = 'Logout()'>Logout</a></li>

        </ul>
    </div>
</nav>

