

<div  class = 'panel'>


    <div class = 'col-xs-3'>

    </div>

    <table ng-show = 'a.length !=0' class ='table'>
              <tr>
                  <th>Title</th>
                  <th>Actor</th>
                  <th>ReleaseDate</th>
                  <th>Action</th>
              </tr>
                <tr ng-repeat = "i in a">
                    <td>{{i.Title}}</td>
                    <td>{{i.Actor}}</td>
                    <td>{{i.ReleaseYear}}</td>

                    <th><span><button type = 'button' class = 'btn btn-primary'><a ui-sref = 'viewMovie({id:i._id})' class="btn btn-default">View</a></button>
                        <button type = 'button' ng-click = 'DeleteMovie(i._id)' class = 'btn btn-danger'>Delete </button> </span>
                    </th>
                </tr>

            </table>


    <div ng-show ='a.length == 0'class = 'well'>
        <h1 style="text-align: center" >No Movies to Show ! Add New Movies</h1>
    </div>
</div>



