<div class = 'panel'>


<div class = 'panel-body'>
    <flash-message
            duration="5000"
            show-close="true"
            on-dismiss="myCallback(flash)"></flash-message>

    <div class = 'col-xs-4'>

    </div>

<div class = 'col-xs-3'>
    <div class = 'panel-body'>
        <div >
            <form name = 'Movie' class = 'form-group' style= "color: green" novalidate ng-submit = 'AddMovie(data)' >
                <div class = 'form-group'>
                    <label >Title</label>
                    <input name = 'Title' type = 'text' class = 'form-control' ng-model = 'data.Title' required placeholder="Add A Title">
                    <span style="color: red" ng-show = 'Movie.Title.$invalid && Movie.Title.$dirty && Movie.Title.$pristine'>{{getError(Movie.Title.$error)}}</span>
                </div>

                <div class = 'form-group'>
                    <label >Actor</label>
                    <input name = 'Actor' type = 'text' class = 'form-control'ng-model = 'data.Actor' required placeholder = 'Add Actor of the Movie'>
                    <span ng-show = 'Movie.Actor.$invalid && Movie.Actor.$dirty && Movie.Actor.$pristine'>{{getError(Movie.Actor.$error)}}</span>
                </div>

                <div class = 'form-group'>
                    <label>ReleaseYear</label>
                    <input name = 'ReleaseYear' type = 'text' class = 'form-control' ng-model = 'data.ReleaseYear' required placeholder = 'Add Release Year of the Movie'>
                    <span ng-show = 'Movie.ReleaseYear.$invalid && Movie.ReleaseYear.$dirty && Movie.ReleaseYear.$pristine'>{{getError(Movie.ReleaseYear.$error)}}</span>

                </div>

                <div class = 'form-group'>
                    <label>Director</label>
                    <input  name =' Director' type = 'text' class = 'form-control' ng-model = 'data.Director' placeholder="Who Directed this Movie ?" required>
                    <span style = "color: red" ng-show = 'Movie.Director.$invalid && Movie.Director.$dirty && Movie.Director.$pristine'>{{getError(Movie.Director.$error)}}</span>

                </div>

             <div class = 'form-group'>

                 <label >Genre</label>
                 <input name = 'Genre' type = 'text' class = 'form-control' ng-model = 'data.Genre' placeholder = 'What is the Genre of the Movie ?' required>
                 <span ng-show = 'Movie.Genre.$invalid && Movie.Genre.$dirty && Movie.Genre.$pristine'>{{getError(Movie.Genre.$error)}}</span>

             </div>

                <button type = 'submit' class = 'btn btn-primary' ng-disabled = 'Movie.$invalid' >Add</button>

            </form>

        </div>
    </div>
</div>
    </div>
    </div>